@charset "utf-8";
/*通用*/
* {margin:0; padding:0;}
a{color:#555; text-decoration:none;}
body{color:#555; font-family:"Microsoft YaHei" ,"Verdana", "Arial", sans-serif; font-size: 14px; text-align:center; }
ul{list-style-type:none;}
textarea,input{word-wrap:break-word;word-break:break-all; }
img{border:0 none;}
.box-siz-set{box-sizing: border-box;-moz-box-sizing: border-box;}
.noselect{
	-moz-user-select: none;
	-o-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}