@charset "utf-8";
/*通用*/
* {margin:0; padding:0;}
a{color:#555; text-decoration:none;}
body{color:#fff; font-family:"Microsoft YaHei" ,"Verdana", "Arial", sans-serif; font-size: 14px; text-align:center; }
ul{list-style-type:none;}
input {outline:none;}
input, select {font-size:12px; vertical-align:middle;}
textarea,input{word-wrap:break-word;word-break:break-all; }
img{border:0 none;}
.box-sizing-s{box-sizing: border-box;-moz-box-sizing: border-box;}

/**/
/*.reg-box{
	background:url('../images/reg-back.jpg')  center no-repeat; 
	background-size:cover;overflow:hidden;
}*/

body{
	background:url('../images/reg-back.jpg')  center no-repeat; 
	background-size:cover;
}
.bodyset{height:1000px;}
@media  (max-width: 900px) {
    body {
       background-size:100% 150%;
    }
}
/*题目*/
.reg-header{margin-top:30px;color:white;}
/*注册框*/
.reg-main{
	width:600px;height:auto;border-radius:7px;margin:10px auto;
	box-shadow: 1px 1px 5px rgba(5,5,5,0.5);background: white;
	/*background:url('../images/register-main-b.jpg')  center no-repeat;*/
	background:rgba(250,250,250,0.2);padding:0 10px 40px;
}
/*注册框顶端*/
.reg-main-top{
	width:100%;height:35px;line-height:35px;border-bottom:solid 1px #ddd;
	text-align:left;padding-left:10px;color:#333;
}
/*注册框内容*/
.reg-main-con{text-align:left; width:70%;margin:30px auto 0;font-size:18px;}
.reg-main-con .reg-mian-con-div{
	margin-top:20px;padding-bottom:20px;position:relative;
}
.reg-mian-con-div label{text-shadow:1px 1px 2px #555;}
.reg-main-con span{font-size:15px;color:#666;text-indent:1em;}
.reg-main-con .inp{width:290px;height:35px;border:none;padding:2px;text-indent:.5em;font-size: 17px;}
.reg-main-con .inp-v{width:100px;height:30px;}
.reg-main-con .inp-v-p{
	display:inline-block ;width:100px;height:36px; margin-left:40px;
	background: white;vertical-align:middle;position:relative;background:#aaa;
}
/*提示*/
.reg-main-con-cue{position:absolute;bottom:0;left:0;}
.reg-main-r-cue{position:absolute;bottom:50%;right:-90px;width:100px;font-size: 13px;color:red;}
.reg-main-r-cue2{right:-60px;color:#555;}
.reg-cue-2,.reg-cue-3,.reg-cue-4{display:none;}
.rig-wro{
	position:absolute;width:27px;height:27px;background: #ccc;left:230px;top:3px;
	background:url(../images/rig_wro.png) 0 0 no-repeat;
	background-size:cover;
}
.rig-wro-r{left:auto;right:-10px;display:none;}
.rig-wro-ver{background-position:-27px 0;}
/*验证*/
.reg-main-ref{color:#06e;}
.reg-main-ref:hover{color:#c70;}
/*提交按钮区*/
.reg-main-but{margin-top:10px;}
.reg-button{
	width:120px;height:40px;border-radius:3px;background: #173f6d;border:none;font-size:20px;
	color:white;cursor:pointer;
}
.reg-button:nth-of-type(1){margin-right:70px;}
.reg-button:hover{background: #075dbd;}